*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#000;
    color:white;
    margin: 0;
    overflow-x: hidden;
}
.nav_logo{
   font-size: 28px;
   margin-left: -100px;
   margin-bottom: 20px;
}
nav{
    margin: 0%;
    width: 100%;
    height: 70px;
    margin-top: 4px;
    display:flex;
    justify-content:space-between;
    /* align-items:center; */
    padding:20px 150px;
    background:#000;
    border: 1px solid white;
    border-radius: 20px;
    
}

ul{
    display:flex;
    gap:30px;
    list-style:none;
    margin-top: 3px;
}

a{
    color:white;
    text-decoration:none;
    font-size: 23px;
    
}
.nav-right{
    display: flex;
    align-items: center;
}

.login-btn{
    padding:10px 30px;
    border:1px solid white;
    border-radius: 20px;
    background:transparent;
    color:white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 1px;
}
.hero{
    height:100vh;
    background:url("img2.webp") center/cover;
}

.overlay{
    height:100%;
    background:rgba(0,0,0,.45);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.search-box{
    width:600px;
    display:flex;
    margin-top:30px;
    
}
#search_box{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
}
.search-box input{
    flex:1;
    padding:15px;
}
.search-box i{
    position:relative;
    left: -40px;
    top: 10px;
    color: white;
    font-size: 20px;
} 
.search-box button{
    width:60px;
}
#btn_1{
    background-color: rgba(218, 200, 200, 0.2);
    border:0.1px solid black;
    border-radius: 20px;
    color:black;
    font-size: 20px;
}
#btn_2{
    background-color: rgb(0,0,0,0.5) ;
    border:1px solid rgba(218, 200, 200, 0.2);
    border-radius: 20px;
    color: grey;
    font-size: 20px;
}
.buttons{
    margin-top:20px;
    display:flex;
    gap:15px;
}

.buttons button{
    padding:12px 25px;
}

.products{
    text-align:center;
    margin-top: 60px;
}
#h4{
    color: orange;
    font-size: 30px;
}
#h2{
    font-size: 40px;
}
.products img{
    height: 400px;
    width:750px;
    margin-top:30px;
}

.recipes{
    padding:80px;
}

.cards{
    display:flex;
    margin-top:40px;
}

.card{
    height: 500px;
    width: 100%;
}

.card img{
    width:350px;
    height: 400px;
    
}
.card img:hover{
    border: 1px solid white;
    border-radius: 20px;
    transform: scale(0.90);
}
.info{
    margin-left: 20px;
}
.info h3{
    margin-top: 10px;
}
.info p{
    margin-top: 10px;
}
.info button{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
}
.info button:hover{
    background-color: rgba(63, 61, 61, 0.7);
    border: 1px solid white;
    color: white;
}
.community{
    position: relative;
    margin-top: 100px;
    text-align:center;
    color: white;
    padding:100px 20px;
    background-color: rgb(0,0,0,0.5);
    background:url("footer_pic.webp") center/cover;
    overflow: hidden;
}
.community::before{
    content:"";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.87);
}
.paragraph,.cta-btns{
    position: relative;
    z-index: 1;
    color: white;
}
.paragraph h2{
    margin-bottom: 20px;
    font-size: 32px;
}
.paragraph p{
    margin-top: 10px;
    color: gray;
}
.cta-btns{
    margin-top:20px;
}

.cta-btns button{
    padding:12px 25px;
    margin:10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}
.cta-btns button:hover{
    background-color: rgb(189, 174, 174);
    border: 1px solid black;
    color: black;
}
footer{
    display:flex;
    justify-content:space-around;
    padding:60px;
    background:#050505;
    color: white;
}
footer h3{
    font-size: 25px;
}
footer p,a{
    line-height: 1.4;
    color: gray;
    font-size: 20px;
}
footer a:hover{
    text-decoration-line: underline;
}
